{% extends "layout.html" %}
{% block content %}

    <h2>🚨 Precinct Briefing 🚨</h2>

    <hr>

    <div class="static-frame">
        
        <div class="static-frame-entry center-static">

            <p>
                Officers, thank you for assembling on short notice.
            </p>

            <img src="{{ url_for('static', filename='img/scenes/briefing.webp') }}"
                    class="card-img-top suspect-photo-lg wide-img"
                    alt="The Briefing Scene">

            <p>
                This morning, a troubling event was reported in our own station:
                <br>the secure chicken treat stash has been emptied. 
            </p>

            <p>
                No signs of forced entry. No witnesses. Just a trail of crumbs and confusion.
            </p>

            <p class="image-bottom-line">
                The suspect is one of us.
            </p>

            <a href="/how-to" class="my-btn image-bottom-line spaced-cta">Begin Investigation</a>

        </div>
    </div>

{% endblock %}
