{% extends "layout.html" %}
{% block content %}

<div class="internal-panel">
  <h2>🐣 CS50 Submission Info 🐣</h2>
  <table class="info-table">
    <tr>
      <th>Project Title</th>
      <td>Detective Buggy: A Bitter Bite</td>
    </tr>
    <tr>
      <th>Author's Name</th>
      <td>Jen Skye</td>
    </tr>
    <tr>
      <th>GitHub Username</th>
      <td>skyejen</td>
    </tr>
    <tr>
      <th>edX Username</th>
      <td>skyejen</td>
    </tr>
    <tr>
      <th>City & Country</th>
      <td>Glasgow, UK</td>
    </tr>
    <tr>
      <th>Date of Recording</th>
      <td>29th of July 2025</td>
    </tr>
    <tr>
      <th>Live Demo</th>
      <td><a href="https://detective-buggy-ep1.onrender.com/" target="_blank">https://detective-buggy-ep1.onrender.com/</a></td>

    </tr>
  </table>
</div>

{% endblock %}
