{% extends "layout.html" %}
{% block content %}

    <h2>🎓 How to Investigate 🎓</h2>

    <hr>

    <div class="static-frame">
        <div class="static-frame-entry">

            <p>Read the how-to instructions below and proceed to the Evidence Board.</p>

            <ul>
                <li>🔍 Review clues, records and notes on your Evidence Board
                <li>👮‍♀️ Interrogate suspects to gather intel</li>
                <li>🧠 Piece together the story and make your final accusation</li>
            </ul>

            <p>
                Evidence will be unlocked throughout the game. You won’t see everything at once.
            </p>

            <p>
                You are Detective Buggy — a respected officer with a reputation for discipline, grit, and an unwavering dedication to justice (and snacks).
            </p>

            <p>
                Your Evidence Board has been set up with initial notes. Start there to begin piecing together what we know so far.
            </p>

            <div>
                <a href="/evidence-board" class="my-btn">Evidence Board</a>
            </div>
        </div>
    </div>

{% endblock %}
