{% extends "layout.html" %}
{% block content %}

    <h2>🐾 Detective Buggy: A Bitter Bite 🐾</h2>

    <hr>

    <div class="static-frame">
        
        <div class="static-frame-entry center-static">

            <p>
                Welcome to a lighthearted mystery adventure where betrayal, jealousy,<br>and chicken treats collide inside a busy precinct.
            </p>

            <img src="{{ url_for('static', filename='img/scenes/buggy-title-screen.webp') }}"
                    class="card-img-top suspect-photo-lg wide-img"
                    alt="The Briefing Scene">
            
            <p class="image-bottom-line">
                Enter the briefing room to start the game.
            </p>
            
            <div>
                <a href="/briefing" class="my-btn spaced-cta">Enter Briefing Room</a>
            </div>
        </div>
    </div>

{% endblock %}
