{% extends "layout.html" %}
{% block content %}

<h2>🚪 Supply Closet 🚪</h2>

  <div class="static-navbar">
    <a href="/evidence-board" class="buggy-navbar">Evidence Board</a> | <a href="/security-room" class="buggy-navbar">Security Room</a>
  </div>

  <hr>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

{% if not show_evidence %}

<div class="static-frame">
  <div class="static-frame-entry center-static">

    <p>{{ current_line|safe }}</p>

      {% if line_index == 0 and not show_evidence %}

        <img src="{{ url_for('static', filename='img/scenes/security-closet-door-open.webp') }}"
                                class="card-img-top suspect-photo-lg wide-img"
                                alt="The Security Closet Door Open">

      {% elif line_index == 1 or line_index == 2 and not show_evidence %}
            
        <img src="{{ url_for('static', filename='img/scenes/sobbing-banana.webp') }}"
                          class="card-img-top suspect-photo-lg wide-img"
                          alt="Sobbing Banana">

      {% endif %}

      {% if show_continue %}
        <form method="POST">
          <button type="submit" class="my-btn">Continue</button>
        </form>

      {% elif show_look_button %}
        <form method="POST">
          <input type="hidden" name="look" value="1">
          <button type="submit" class="my-btn">🔍 Look Around</button>
        </form>
      {% endif %}  

  </div>
</div>
{% endif %}

{% if show_evidence %}
  {% set unlocked_flavour = session.get('unlocked_flavour', []) %}

  <div class="container-sm p-4 rounded bg-dark text-white shadow evidence-section">
    <div class="evidence-row">
    {% for item in evidence_list %}

      <div class="evidence-card-wrapper">
        <div class="card bg-dark text-white shadow evidence-card h-100">
                   
          {% if item.name == "Theo's Biscuit" %}
            <img src="/static/img/evidence/security-closet/biscuit.webp" alt="Biscuit" class="card-img-top evidence-photo">
          {% elif item.name == "Abandoned Mug" %}
            <img src="/static/img/evidence/security-closet/mug.webp" alt="Mug" class="card-img-top evidence-photo">
          {% elif item.name == "Rusty Stain" %}
            <img src="/static/img/evidence/security-closet/stain.webp" alt="Stain" class="card-img-top evidence-photo">
          {% elif item.name == "Vending Machine Stickers" %}
            <img src="/static/img/evidence/security-closet/stickers.webp" alt="Stickers" class="card-img-top evidence-photo">
          {% elif item.name == "Stilts With Bird Feet" %}
            <img src="/static/img/evidence/security-closet/stilts.webp" alt="Stilts" class="card-img-top evidence-photo">
          {% else %}
            <img src="/static/img/evidence/crime-scene/default.webp" alt="Unknown Evidence">
          {% endif %}


          <div class="card-body text-center">
            <form method="POST">
              <input type="hidden" name="object" value="{{ item.name }}">
              {% if item.id in session['unlocked_evidence'] or item.id in unlocked_flavour %}
                <button type="submit" disabled class="my-btn">🔓 {{ item.name }}</button>
              {% else %}
                <button type="submit" class="my-btn">{{ item.label }}</button>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

{% endif %}

{% endblock %}


